<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - mustache.couch.js Demo</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: #333333;
    }
    </style>
  </head>
  <body>
    
    {{{yield}}}
    
  </body>
  
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script src="../../jquery.couch.listchanges.js"></script>
  
  <script>
    // .listChanges() wires up the ul for live updating
    //
    // updateType and updateSeq are specified as data- attributes on ul,
    // so they don't need to be specified as options here.
    //
    // success callback is called after DOM is updated; for updateType="newRows"
    // the new rows will be passed to the callback
    $('ul#notes').listChanges({
      success: function(newRows) {
        newRows.hide().fadeIn();
      } 
    });
  
    // setup the form
    $('form#new_note').submit(function(e) {
      e.preventDefault();
      var note = $(this).find('input[name=note]').val();

      if (note.match(/\S/)) {
        $.couch.db('mustache-couch-example').saveDoc({
          note: note, 
          created_at: new Date()
        });
      };

      this.reset();
    })
    .find('input[name=note]')
      .focus();
  </script>
</html>