<h2><a href="https://github.com/gbuesing/mustache.couch.js">mustache.couch.js</a> live updating example</h2>

<p>
  Open this page in two browser windows - when you add a note, both will update. Refresh the page, and all notes will be rendered without an Ajax call.
</p>

<p>
  Initial page load and Ajax row updates are both served from the same list function. You can also add a live updating list to a static _attachments page - <a href="../../sidebar_widget.html">View example here</a>.
</p>

<p>Clone this app to view the source:<br>
<code>couchapp clone http://gbues.iriscouch.com/mustache-couch-example/_design/example mustache-couch-example</code>
</p>

<form id="new_note">
  <label for="title">Add a note</label> 
  <input type="text" name="note">
  <button type="submit">Add</button>
</form>

<ul id="notes" data-update-type="newRows" data-update-seq="{{update_seq}}">
  {{#notes}}
  <li data-key="{{key}}">{{note}}</li>
  {{/notes}}
</ul>
