<h2>mustache.couch.js live updating example</h2>

<p><i>
  Open this page in two browser windows - when you add a note, both will update. Refresh the page, and all notes will be rendered without an Ajax call.
</i></p>

<p><i>
  Initial page load and Ajax row updates are both served from the same list function. You can also embed the rows html from a list fun on a static page - <a href="../../embedded_widget.html">View example here</a>.
</i></p>

<form id="new_note">
  <label for="title">Add a note</label> 
  <input type="text" name="note">
  <button type="submit">Add</button>
</form>

<ul id="notes" data-changes="newRows" data-update-seq="{{update_seq}}">
  {{#notes}}
  <li data-key="{{key}}">{{note}}</li>
  {{/notes}}
</ul>
